.gridd-nav-handheld-btn[aria-expanded="true"] + #gridd-handheld-menu-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.gridd-hanheld-nav-popup-wrapper {
  background-color: var(--gridd-content-bg);
  height: 100%;
  padding: 1em; }
  .gridd-hanheld-nav-popup-wrapper li.current-menu-item > a,
  .gridd-hanheld-nav-popup-wrapper li.current-menu-item > a:visited, .gridd-hanheld-nav-popup-wrapper li.current-page-item > a,
  .gridd-hanheld-nav-popup-wrapper li.current-page-item > a:visited, .gridd-hanheld-nav-popup-wrapper li.current_page_item > a,
  .gridd-hanheld-nav-popup-wrapper li.current_page_item > a:visited, .gridd-hanheld-nav-popup-wrapper li.current-page-ancestor > a,
  .gridd-hanheld-nav-popup-wrapper li.current-page-ancestor > a:visited, .gridd-hanheld-nav-popup-wrapper li.current-menu-ancestor > a,
  .gridd-hanheld-nav-popup-wrapper li.current-menu-ancestor > a:visited, .gridd-hanheld-nav-popup-wrapper li.current-menu-parent > a,
  .gridd-hanheld-nav-popup-wrapper li.current-menu-parent > a:visited, .gridd-hanheld-nav-popup-wrapper li.current-page-parent > a,
  .gridd-hanheld-nav-popup-wrapper li.current-page-parent > a:visited, .gridd-hanheld-nav-popup-wrapper li.current_page_parent > a,
  .gridd-hanheld-nav-popup-wrapper li.current_page_parent > a:visited, .gridd-hanheld-nav-popup-wrapper li.current_page_ancestor > a,
  .gridd-hanheld-nav-popup-wrapper li.current_page_ancestor > a:visited {
    color: var(--gridd-content-bg);
    background: var(--gridd-links-color); }
  .gridd-hanheld-nav-popup-wrapper li.current-menu-item .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current-page-item .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current_page_item .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current-page-ancestor .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current-menu-ancestor .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current-menu-parent .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current-page-parent .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current_page_parent .gridd-toggle, .gridd-hanheld-nav-popup-wrapper li.current_page_ancestor .gridd-toggle {
    color: var(--gridd-content-bg);
    background: var(--gridd-links-color); }
    .gridd-hanheld-nav-popup-wrapper li.current-menu-item .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current-page-item .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current_page_item .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current-page-ancestor .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current-menu-ancestor .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current-menu-parent .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current-page-parent .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current_page_parent .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper li.current_page_ancestor .gridd-toggle svg {
      fill: var(--gridd-content-bg); }
  .gridd-hanheld-nav-popup-wrapper li.menu-item-has-children > a, .gridd-hanheld-nav-popup-wrapper li.page_item_has_children > a {
    padding-right: .5em;
    width: calc(100% - 2em - 0.01px); }
  .gridd-hanheld-nav-popup-wrapper a,
  .gridd-hanheld-nav-popup-wrapper a:visited {
    padding: 0.618em 1em;
    color: var(--gridd-text-color); }
    .gridd-hanheld-nav-popup-wrapper a:hover, .gridd-hanheld-nav-popup-wrapper a:focus, .gridd-hanheld-nav-popup-wrapper a.focus, .gridd-hanheld-nav-popup-wrapper a.toggled-on,
    .gridd-hanheld-nav-popup-wrapper a:visited:hover,
    .gridd-hanheld-nav-popup-wrapper a:visited:focus,
    .gridd-hanheld-nav-popup-wrapper a:visited.focus,
    .gridd-hanheld-nav-popup-wrapper a:visited.toggled-on {
      color: var(--gridd-content-bg);
      background: var(--gridd-links-color); }
      .gridd-hanheld-nav-popup-wrapper a:hover ~ .gridd-toggle, .gridd-hanheld-nav-popup-wrapper a:focus ~ .gridd-toggle, .gridd-hanheld-nav-popup-wrapper a.focus ~ .gridd-toggle, .gridd-hanheld-nav-popup-wrapper a.toggled-on ~ .gridd-toggle,
      .gridd-hanheld-nav-popup-wrapper a:visited:hover ~ .gridd-toggle,
      .gridd-hanheld-nav-popup-wrapper a:visited:focus ~ .gridd-toggle,
      .gridd-hanheld-nav-popup-wrapper a:visited.focus ~ .gridd-toggle,
      .gridd-hanheld-nav-popup-wrapper a:visited.toggled-on ~ .gridd-toggle {
        background: var(--gridd-links-color); }
        .gridd-hanheld-nav-popup-wrapper a:hover ~ .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper a:focus ~ .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper a.focus ~ .gridd-toggle svg, .gridd-hanheld-nav-popup-wrapper a.toggled-on ~ .gridd-toggle svg,
        .gridd-hanheld-nav-popup-wrapper a:visited:hover ~ .gridd-toggle svg,
        .gridd-hanheld-nav-popup-wrapper a:visited:focus ~ .gridd-toggle svg,
        .gridd-hanheld-nav-popup-wrapper a:visited.focus ~ .gridd-toggle svg,
        .gridd-hanheld-nav-popup-wrapper a:visited.toggled-on ~ .gridd-toggle svg {
          fill: var(--gridd-content-bg); }
  .gridd-hanheld-nav-popup-wrapper .gridd-toggle {
    color: var(--gridd-text-color);
    padding: 0 .5em; }
    .gridd-hanheld-nav-popup-wrapper .gridd-toggle svg {
      fill: var(--gridd-text-color); }
    .gridd-hanheld-nav-popup-wrapper .gridd-toggle:hover, .gridd-hanheld-nav-popup-wrapper .gridd-toggle:focus, .gridd-hanheld-nav-popup-wrapper .gridd-toggle.focus, .gridd-hanheld-nav-popup-wrapper .gridd-toggle.toggled-on {
      color: var(--gridd-text-color);
      background: var(--gridd-links-color); }
      .gridd-hanheld-nav-popup-wrapper .gridd-toggle:hover svg, .gridd-hanheld-nav-popup-wrapper .gridd-toggle:focus svg, .gridd-hanheld-nav-popup-wrapper .gridd-toggle.focus svg, .gridd-hanheld-nav-popup-wrapper .gridd-toggle.toggled-on svg {
        fill: var(--gridd-content-bg); }
