body {
	padding-bottom: 54px;
}

.gridd-tp-nav-handheld.gridd-tp {
	position: fixed;
	bottom: 0;
	background: #fff;
	display: flex;
	align-items: stretch;
	justify-content: center;
	z-index: 9999;
	width: 100%;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
	font-size: 17px;

	>* {
		width: 100%;
		max-width: 168px;
	}
}

.gridd-nav-handheld-btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 0;
	background: none;
	color: #333;
	padding: 8px 12px;
	border: none;
	text-decoration: none;
	height: 54px;
	opacity: .55;

	.label {
		width: 100%;
		color: #333;
		text-align: center;
		font-size: 14px;
	}

	&.home {
		text-decoration: none;
	}

	&:hover,
	&:focus,
	&:active,
	&[aria-expanded=true] {
		background: none;
		color: #000;
		box-shadow: none;
		text-decoration: none;
		opacity: 1;
	}

	svg {
		width: 20px;
		height: 20px;
	}

	&[aria-expanded=true] {

		+#gridd-handheld-search-wrapper,
		+#gridd-handheld-widget-area-wrapper,
		+#gridd-handheld-menu-wrapper,
		+#gridd-handheld-cart-wrapper {
			display: block;
		}
	}
}

#gridd-handheld-search-wrapper,
#gridd-handheld-widget-area-wrapper,
#gridd-handheld-menu-wrapper,
#gridd-handheld-cart-wrapper {
	display: none;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 54px;
	width: 100%;
	height: auto;
	max-height: calc(100vh - 54px);
	flex-wrap: wrap;
	align-items: flex-end;
	overflow-y: scroll;
	box-shadow: 0 -10px 15px 0 rgba(0,0,0,.12);
	padding: 12px;
	
	&.expanded {
		display: flex;
	}
}

#gridd-handheld-search-wrapper {
	align-items: normal; // fallback;
	align-items: stretch;
	font-size: 22px;
	padding: 2em;

	.search-form {
		height: 100%;

		input {
			border-bottom: none;
		}
	}
}

#gridd-handheld-widget-area-wrapper {
	.widget {
		width: 100%;
		padding: 1em;
	}
}

#gridd-handheld-woo-cart {
	position: relative;

	>button {
		>.label {
			.count {
				position: absolute;
				top: 6px;
				min-width: 1.7em;
				left: calc(50% + 4px);
				font-size: 10px;
				color: #fff;
				background: #dc3232;
				border-radius: 10px;
				padding: 0;
			}
		}
	}
}
