.wp-full-overlay-sidebar {
  min-width: 400px; }

.wp-full-overlay.expanded {
  margin-left: 400px; }

#customize-controls #sub-accordion-section-gridd_grid li.accordion-section .accordion-section-title {
  color: #333;
  background: #fff !important; }
  #customize-controls #sub-accordion-section-gridd_grid li.accordion-section .accordion-section-title:hover {
    background: #dedede !important; }
#customize-controls #sub-accordion-section-gridd_grid li.accordion-section.control-section-kirki-nested h3.accordion-section-title {
  display: none; }
#customize-controls .customize-section-description-container.section-meta .dashicons {
  display: none; }

.accordion-section-title.dashicons-before:before {
  color: #82878C;
  padding-right: 7px; }
  .accordion-section-title.dashicons-before:before.rtl {
    padding-right: 0;
    padding-left: 7px; }

.customize-control-kirki-radio-buttonset .buttonset {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border-radius: 4px;
  overflow: hidden;
  grid-gap: 2px; }

#customize-control-gridd_grid_footer_background .background-wrapper {
  padding: 1em;
  border: 1px solid #ccc; }

#input_gridd_grid_nav-primary_justify_content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr; }
  #input_gridd_grid_nav-primary_justify_content > label {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px;
    border: 1px solid #ccc; }
    #input_gridd_grid_nav-primary_justify_content > label > * {
      width: 100%;
      -ms-flex-order: 2;
          order: 2; }
    #input_gridd_grid_nav-primary_justify_content > label .image-label {
      display: block;
      position: relative;
      -ms-flex-order: 1;
          order: 1;
      background: none; }
  #input_gridd_grid_nav-primary_justify_content img {
    height: 40px; }
  #input_gridd_grid_nav-primary_justify_content input:checked + label {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .25);
    border: 1px solid #3498DB; }

.customize-control-kirki-dimensions .wrapper .control {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px; }
  .customize-control-kirki-dimensions .wrapper .control > div {
    width: 100%; }

#input_gridd_grid_nav_1_expand_icon .switch-label svg {
  width: 2em;
  height: 2em; }
#input_gridd_grid_nav_1_expand_icon .switch-input:checked + .switch-label svg {
  fill: #fff; }

h3.gridd-customizer-section-title {
  padding: 1em 0;
  font-size: 1.5em !important;
  border-bottom: 1px solid #bbb;
  color: #555;
  text-transform: uppercase; }

.customize-control-kirki-radio-image label {
  width: 50%; }
  .customize-control-kirki-radio-image label img {
    padding: 10px;
    box-sizing: border-box; }

#input_gridd_grid_nav_1_expand_icon_position,
#input_gridd_grid_nav_2_expand_icon_position,
#input_gridd_grid_nav_3_expand_icon_position,
#input_gridd_grid_nav_4_expand_icon_position,
#input_gridd_grid_nav_5_expand_icon_position,
#input_gridd_grid_nav_6_expand_icon_position,
#input_gridd_grid_nav_7_expand_icon_position,
#input_gridd_grid_nav_8_expand_icon_position,
#input_gridd_grid_nav_9_expand_icon_position,
#input_gridd_grid_nav_10_expand_icon_position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  #input_gridd_grid_nav_1_expand_icon_position > label,
  #input_gridd_grid_nav_2_expand_icon_position > label,
  #input_gridd_grid_nav_3_expand_icon_position > label,
  #input_gridd_grid_nav_4_expand_icon_position > label,
  #input_gridd_grid_nav_5_expand_icon_position > label,
  #input_gridd_grid_nav_6_expand_icon_position > label,
  #input_gridd_grid_nav_7_expand_icon_position > label,
  #input_gridd_grid_nav_8_expand_icon_position > label,
  #input_gridd_grid_nav_9_expand_icon_position > label,
  #input_gridd_grid_nav_10_expand_icon_position > label {
    line-height: 2.5em; }

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -400px; }

#input_gridd_global_grid_preset label {
  width: 25%; }

.gridd-section-description {
  margin: -22px -12px 0 -12px;
  padding: 8px 0;
  background: #fff; }
  .gridd-section-description .gridd-go-plus,
  .gridd-section-description .gridd-docs {
    padding: 8px 12px; }
  .gridd-section-description .gridd-go-plus + .gridd-docs {
    border-top: 1px solid #f7f7f7; }
