#customize-controls .control-section-gridd_plus {
	.accordion-section-title {
		&:hover,
		&:focus {
			background-color: #fff;
		}
	}
}

.control-section-gridd_plus {
	.accordion-section-title {
		.button {
			margin-top:  -4px;
			font-weight: 400;
			margin-left: 8px;

			.rtl & {
				margin-left:  0;
				margin-right: 8px;		
			}
		}
	}
}
