.gridd-tp-footer_copyright {
  width: 100%; }
  .gridd-tp-footer_copyright .site-info {
    padding: var(--gridd-footer-padding);
    background-color: var(--gridd-footer-copyright-bg);
    color: var(--gridd-footer-copyright-color);
    font-size: var(--gridd-footer-copyright-font-size);
    width: 100%;
    text-align: var(--gridd-footer-copyright-text-align); }
    .gridd-tp-footer_copyright .site-info a,
    .gridd-tp-footer_copyright .site-info a:visited {
      color: var(--gridd-footer-copyright-links-color); }
      .gridd-tp-footer_copyright .site-info a:hover,
      .gridd-tp-footer_copyright .site-info a:visited:hover {
        color: var(--gridd-footer-copyright-links-color); }
