.gridd-tp-footer_copyright {
	width: 100%;

	.site-info {
		padding: var(--gridd-footer-padding);
		background-color: var(--gridd-footer-copyright-bg);
		color: var(--gridd-footer-copyright-color);
		font-size: var(--gridd-footer-copyright-font-size);
		width: 100%;
		text-align: var(--gridd-footer-copyright-text-align);

		a,
		a:visited {
			color: var(--gridd-footer-copyright-links-color);

			&:hover {
				color: var(--gridd-footer-copyright-links-color);
			}
		}
	}
}
