.gridd-tp-footer.gridd-tp {
	background-color: var(--gridd-footer-bg);
	border-top: var(--gridd-footer-border-top-width) solid var(--gridd-footer-border-top-color);
	padding-top: var(--gridd-footer-grid-gap);

	.inner {
		display:-ms-grid;
		display: grid;
		grid-gap: var(--gridd-footer-grid-gap);
		width: 100%;
		max-width: var(--gridd-footer-max-width);
	}
}
