nav {
  width: 100%; }

.gridd-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .gridd-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 15em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
    z-index: 5;
    display: none; }
    .gridd-navigation ul ul {
      position: relative; }
  .gridd-navigation li {
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .gridd-navigation li.menu-item-has-children > a, .gridd-navigation li.page_item_has_children > a {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .gridd-navigation a,
  .gridd-navigation a:visited {
    display: block;
    text-decoration: none;
    width: 100%; }
  .gridd-navigation .gridd-toggle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    background: none;
    opacity: .7;
    border: none;
    box-shadow: none;
    border-radius: 0; }
    .gridd-navigation .gridd-toggle svg {
      width: 1em;
      height: 1em; }
    .gridd-navigation .gridd-toggle:hover, .gridd-navigation .gridd-toggle:focus, .gridd-navigation .gridd-toggle.focus, .gridd-navigation .gridd-toggle.toggled-on {
      opacity: 1;
      box-shadow: none;
      outline: 1px dotted; }
    .gridd-navigation .gridd-toggle.toggled-on {
      opacity: 1; }
      .gridd-navigation .gridd-toggle.toggled-on + ul {
        display: block; }
        .gridd-navigation .gridd-toggle.toggled-on + ul li {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .gridd-navigation .gridd-toggle.toggled-on + ul li ul {
            width: 100%; }
  .gridd-nav-vertical .gridd-navigation ul, .toggled-on + .gridd-nav-horizontal .gridd-navigation ul {
    top: 0;
    min-width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .05); }
  .gridd-nav-vertical .gridd-navigation li, .toggled-on + .gridd-nav-horizontal .gridd-navigation li {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .gridd-nav-vertical .gridd-navigation a, .toggled-on + .gridd-nav-horizontal .gridd-navigation a {
    background: none; }
