.gridd-tp-nav_ID {
  background-color: var(--gridd-nav-ID-bg);
  overflow: visible;
  font-size: var(--gridd-nav-ID-font-size); }
  .gridd-tp-nav_ID .inner {
    padding: var(--gridd-nav-ID-padding);
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex; }
  .gridd-tp-nav_ID nav {
    width: 100%; }
  .gridd-tp-nav_ID .gridd-nav-horizontal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .gridd-tp-nav_ID .gridd-nav-horizontal > * {
      width: 100%; }
  .gridd-tp-nav_ID .gridd-navigation {
    -ms-flex-pack: var(--gridd-nav-ID-justify);
        justify-content: var(--gridd-nav-ID-justify); }
    .gridd-tp-nav_ID .gridd-navigation ul {
      background-color: var(--gridd-nav-ID-submenu-bg); }
    .gridd-tp-nav_ID .gridd-navigation li.current-menu-item > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-menu-item > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current-page-item > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-page-item > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current_page_item > a,
    .gridd-tp-nav_ID .gridd-navigation li.current_page_item > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current-page-ancestor > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-page-ancestor > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current-menu-ancestor > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-menu-ancestor > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current-menu-parent > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-menu-parent > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current-page-parent > a,
    .gridd-tp-nav_ID .gridd-navigation li.current-page-parent > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current_page_parent > a,
    .gridd-tp-nav_ID .gridd-navigation li.current_page_parent > a:visited, .gridd-tp-nav_ID .gridd-navigation li.current_page_ancestor > a,
    .gridd-tp-nav_ID .gridd-navigation li.current_page_ancestor > a:visited {
      color: var(--gridd-nav-ID-accent-color);
      background: var(--gridd-nav-ID-accent-bg); }
    .gridd-tp-nav_ID .gridd-navigation li.current-menu-item .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current-page-item .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current_page_item .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current-page-ancestor .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current-menu-ancestor .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current-menu-parent .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current-page-parent .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current_page_parent .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation li.current_page_ancestor .gridd-toggle {
      color: var(--gridd-nav-ID-accent-color);
      background: var(--gridd-nav-ID-accent-bg); }
      .gridd-tp-nav_ID .gridd-navigation li.current-menu-item .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current-page-item .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current_page_item .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current-page-ancestor .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current-menu-ancestor .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current-menu-parent .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current-page-parent .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current_page_parent .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation li.current_page_ancestor .gridd-toggle svg {
        fill: var(--gridd-nav-ID-accent-color); }
    .gridd-tp-nav_ID .gridd-navigation li.menu-item-has-children > a, .gridd-tp-nav_ID .gridd-navigation li.page_item_has_children > a {
      padding-right: calc(var(--gridd-nav-ID-items-padding) / 2); }
    .gridd-tp-nav_ID .gridd-navigation a,
    .gridd-tp-nav_ID .gridd-navigation a:visited {
      padding: calc(var(--gridd-nav-ID-items-padding) / 1.618) var(--gridd-nav-ID-items-padding);
      color: var(--gridd-nav-ID-color); }
      .gridd-tp-nav_ID .gridd-navigation a:hover, .gridd-tp-nav_ID .gridd-navigation a:focus, .gridd-tp-nav_ID .gridd-navigation a.focus, .gridd-tp-nav_ID .gridd-navigation a.toggled-on,
      .gridd-tp-nav_ID .gridd-navigation a:visited:hover,
      .gridd-tp-nav_ID .gridd-navigation a:visited:focus,
      .gridd-tp-nav_ID .gridd-navigation a:visited.focus,
      .gridd-tp-nav_ID .gridd-navigation a:visited.toggled-on {
        color: var(--gridd-nav-ID-accent-color);
        background: var(--gridd-nav-ID-accent-bg); }
        .gridd-tp-nav_ID .gridd-navigation a:hover ~ .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation a:focus ~ .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation a.focus ~ .gridd-toggle, .gridd-tp-nav_ID .gridd-navigation a.toggled-on ~ .gridd-toggle,
        .gridd-tp-nav_ID .gridd-navigation a:visited:hover ~ .gridd-toggle,
        .gridd-tp-nav_ID .gridd-navigation a:visited:focus ~ .gridd-toggle,
        .gridd-tp-nav_ID .gridd-navigation a:visited.focus ~ .gridd-toggle,
        .gridd-tp-nav_ID .gridd-navigation a:visited.toggled-on ~ .gridd-toggle {
          background: var(--gridd-nav-ID-accent-bg); }
          .gridd-tp-nav_ID .gridd-navigation a:hover ~ .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation a:focus ~ .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation a.focus ~ .gridd-toggle svg, .gridd-tp-nav_ID .gridd-navigation a.toggled-on ~ .gridd-toggle svg,
          .gridd-tp-nav_ID .gridd-navigation a:visited:hover ~ .gridd-toggle svg,
          .gridd-tp-nav_ID .gridd-navigation a:visited:focus ~ .gridd-toggle svg,
          .gridd-tp-nav_ID .gridd-navigation a:visited.focus ~ .gridd-toggle svg,
          .gridd-tp-nav_ID .gridd-navigation a:visited.toggled-on ~ .gridd-toggle svg {
            fill: var(--gridd-nav-ID-accent-color); }
    .gridd-tp-nav_ID .gridd-navigation .gridd-toggle {
      color: var(--gridd-nav-ID-color);
      padding: 0 calc(var(--gridd-nav-ID-items-padding) / 2); }
      .gridd-tp-nav_ID .gridd-navigation .gridd-toggle svg {
        fill: var(--gridd-nav-ID-color); }
      .gridd-tp-nav_ID .gridd-navigation .gridd-toggle:hover, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle:focus, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.focus, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on {
        color: var(--gridd-nav-ID-accent-color);
        background: var(--gridd-nav-ID-accent-bg); }
        .gridd-tp-nav_ID .gridd-navigation .gridd-toggle:hover svg, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle:focus svg, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.focus svg, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on svg {
          fill: var(--gridd-nav-ID-accent-color); }
      .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on {
        background: var(--gridd-nav-ID-accent-bg); }
        .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on svg {
          fill: var(--gridd-nav-ID-accent-color); }
        .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on + ul li.menu-item-has-children > a, .gridd-tp-nav_ID .gridd-navigation .gridd-toggle.toggled-on + ul li.page_item_has_children > a {
          width: calc(100% - var(--gridd-nav-ID-items-padding) - 1em - 0.01px); }
  .gridd-tp-nav_ID .gridd-toggle-navigation {
    display: none; }
