.site-main {
  padding: var(--gridd-content-padding-top) var(--gridd-content-padding-right) var(--gridd-content-padding-bottom) var(--gridd-content-padding-left); }
  .site-main header,
  .site-main footer,
  .site-main .gridd-contain {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--gridd-content-max-width-calculated); }
  .site-main > * {
    margin: auto;
    max-width: var(--gridd-content-max-width-calculated); }
  .site-main > article {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    max-width: 100%; }
  .site-main .entry-header,
  .site-main .entry-footer,
  .site-main .gridd-contain,
  .site-main .entry-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
    .site-main .entry-header > *,
    .site-main .entry-footer > *,
    .site-main .gridd-contain > *,
    .site-main .entry-content > * {
      width: 100%;
      -ms-flex-item-align: center;
          align-self: center;
      max-width: var(--gridd-content-max-width-calculated); }
    .site-main .entry-header .alignwide,
    .site-main .entry-header .alignfull,
    .site-main .entry-footer .alignwide,
    .site-main .entry-footer .alignfull,
    .site-main .gridd-contain .alignwide,
    .site-main .gridd-contain .alignfull,
    .site-main .entry-content .alignwide,
    .site-main .entry-content .alignfull {
      max-width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
      width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
      margin-left: calc(0px - var(--gridd-content-padding-left));
      margin-right: calc(0px - var(--gridd-content-padding-right)); }
      .site-main .entry-header .alignwide img,
      .site-main .entry-header .alignfull img,
      .site-main .entry-footer .alignwide img,
      .site-main .entry-footer .alignfull img,
      .site-main .gridd-contain .alignwide img,
      .site-main .gridd-contain .alignfull img,
      .site-main .entry-content .alignwide img,
      .site-main .entry-content .alignfull img {
        width: 100%; }
    .site-main .entry-header .alignwide,
    .site-main .entry-footer .alignwide,
    .site-main .gridd-contain .alignwide,
    .site-main .entry-content .alignwide {
      max-width: calc(var(--gridd-content-max-width-calculated) + 25%); }

.gridd-tp-content {
  background-color: var(--gridd-content-bg); }
  .gridd-tp-content .wp-block-columns {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr; }
    .gridd-tp-content .wp-block-columns.has-2-columns, .gridd-tp-content .wp-block-columns.has-3-columns {
      grid-template-columns: 1fr;
      -ms-grid-columns: 1fr; }
    @media only screen and (min-width: 600px) {
      .gridd-tp-content .wp-block-columns.has-4-columns, .gridd-tp-content .wp-block-columns.has-5-columns {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr; } }
    @media only screen and (min-width: 960px) {
      .gridd-tp-content .wp-block-columns.has-6-columns {
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr; } }
    .gridd-tp-content .wp-block-columns.alignfull {
      padding-left: var(--gridd-content-padding-left);
      padding-right: var(--gridd-content-padding-right); }
    .gridd-tp-content .wp-block-columns .wp-block-column {
      margin: 0;
      padding: 1em; }
