.widget_categories ul {
  list-style: none;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0; }
  .widget_categories ul a {
    display: block;
    padding: .25em 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1); }
    .widget_categories ul a:hover {
      text-decoration: none; }
    .widget_categories ul a:hover, .widget_categories ul a:active, .widget_categories ul a:focus {
      background-color: var(--gridd-links-color);
      color: #fff;
      -webkit-filter: none;
              filter: none; }
  .widget_categories ul ul {
    list-style: none;
    list-style-type: none; }
    .widget_categories ul ul a:before {
      content: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M23.245%204l-11.245%2014.374-11.219-14.374-.781.619%2012%2015.381%2012-15.391-.755-.609z%22%2F%3E%3C%2Fsvg%3E");
      display: inline-block;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
      margin-right: .5em; }
  .widget_categories ul.menu > li:last-child > a {
    border-bottom: none; }
.widget_categories select {
  width: 100%;
  padding: .5em; }
