.widget_archive ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0; }
.widget_archive li {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .widget_archive li a {
    text-decoration: none; }
.widget_archive a {
  display: block;
  width: 100%;
  padding: .25em 0; }
.widget_archive > ul > li:last-child {
  border-bottom: none; }
