.widget_pages ul {
  list-style: none;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0; }
  .widget_pages ul a {
    display: block;
    padding: .25em 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1); }
  .widget_pages ul ul {
    list-style: none;
    list-style-type: none; }
  .widget_pages ul > ul > li:last-child > a {
    border-bottom: none; }
