.widget_recent_comments {
	ul {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: .25em 0;

		&:last-child {
			border-bottom: none;
		}
	}
}
