.widget_meta {
	ul {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		border-bottom: 1px solid rgba(0,0,0,.1);

		a {
			text-decoration: none;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	a {
		display: block;
		padding: .25em 0;
	}
}
