html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit; // Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
}

body {
	background: #fff; // Fallback for when there is no custom background color defined.
	overflow-x: hidden;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ol,
ul {
	// margin: 0 0 1.5em 0;
	// padding-left: 1em;
	margin-bottom: 1em;
}

ol {
	list-style: decimal;
}

li>ol,
li>ul {
	margin-bottom: 0;
	// margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.post-thumbnail {
	display: block;
	text-align: center;
	line-height: 0;
	margin-bottom: 1em;
}

table {
	margin: 0 0 1.5em;
	width: 100%;

	td,
	th {
		padding: 0.75rem;
		border-top: 1px solid #dee2e6;
	}

	thead {
		th {
			vertical-align: bottom;
			border-bottom: 2px solid #dee2e6;
		}
	}
}

q {
	font-style: italic;
}
