a,
a:visited {
  color: var(--gridd-links-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
  transition: all 100ms ease-in-out; }
  a:active, a:focus, a:hover,
  a:visited:active,
  a:visited:focus,
  a:visited:hover {
    color: var(--gridd-links-hover-color);
    outline: thin dotted; }
  a:focus,
  a:visited:focus {
    outline: thin dashed; }
