.main-nav-wrapper {
  position: relative;
  min-height: 44px;
  min-height: 2.75rem; }

.navigation.post-navigation {
  border-radius: 0; }

.nav-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 1em;
  padding: 1em 0; }
  .nav-links a {
    display: block; }
  .nav-links .nav-next,
  .nav-links .nav-previous {
    display: -ms-flexbox;
    display: flex; }
  .nav-links .nav-next:after,
  .nav-links .nav-previous:before {
    vertical-align: middle;
    color: var(--gridd-links-color);
    width: 1em;
    height: 100%;
    display: inline-block; }
  .nav-links .nav-previous:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M16.67%200l2.83%202.829-9.339%209.175%209.339%209.167-2.83%202.829-12.17-11.996z%22%2F%3E%3C%2Fsvg%3E");
    padding-right: 0.5em; }
  .nav-links .nav-next:after {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7.33%2024l-2.83-2.829%209.339-9.175-9.339-9.167%202.83-2.829%2012.17%2011.996z%22%2F%3E%3C%2Fsvg%3E");
    padding-left: 0.5em; }
