body,
button,
input,
optgroup,
select,
textarea {
  font-size: 1em;
  line-height: 1.5; }

html {
  font-size: var(--gridd-font-size); }

body {
  font-size: calc(var(--gridd-font-size) + var(--gridd-typo-ratio) * 1vw);
  color: var(--gridd-text-color); }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

cite,
dfn,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0;
  padding: 0 1.5em;
  border-left: 5px solid rgba(0, 0, 0, .2); }

.wp-block-pullquote {
  border-left: none;
  border-right: none; }

.rtl blockquote {
  border-left: none;
  border-right: 5px solid rgba(0, 0, 0, .2); }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }
  pre code {
    background: none; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375em; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

ins,
mark {
  background: rgba(255, 255, 0, .07);
  text-decoration: none; }

big {
  font-size: 125%; }

.page-title {
  margin-top: 0; }

.widget-title {
  margin-top: 0; }

.h1,
h1 {
  font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }

.h2,
h2 {
  font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }

.h3,
h3 {
  font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }

.h4,
h4 {
  font-size: calc(var(--gridd-typo-scale) * 1em); }

.h5,
h5 {
  font-size: calc(1em / var(--gridd-typo-scale)); }

.h6,
h6 {
  font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }

.smaller,
smaller {
  font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }

.smallest,
smallest {
  font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }
