.block-editor .edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper {
  font-size: calc(var(--gridd-font-size) + var(--gridd-typo-ratio) * 1vw);
  color: var(--gridd-text-color);
  background-color: var(--gridd-content-bg); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper p,
  .edit-post-visual-editor.editor-styles-wrapper p {
    font-size: calc(var(--gridd-font-size) + var(--gridd-typo-ratio) * 1vw); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h1,
  .edit-post-visual-editor.editor-styles-wrapper h1 {
    font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h2,
  .edit-post-visual-editor.editor-styles-wrapper h2 {
    font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h3,
  .edit-post-visual-editor.editor-styles-wrapper h3 {
    font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h4,
  .edit-post-visual-editor.editor-styles-wrapper h4 {
    font-size: calc(var(--gridd-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h5,
  .edit-post-visual-editor.editor-styles-wrapper h5 {
    font-size: calc(1em / var(--gridd-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h6,
  .edit-post-visual-editor.editor-styles-wrapper h6 {
    font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .smaller,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper smaller,
  .edit-post-visual-editor.editor-styles-wrapper .smaller,
  .edit-post-visual-editor.editor-styles-wrapper smaller {
    font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .smallest,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper smallest,
  .edit-post-visual-editor.editor-styles-wrapper .smallest,
  .edit-post-visual-editor.editor-styles-wrapper smallest {
    font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper a,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited,
  .edit-post-visual-editor.editor-styles-wrapper a,
  .edit-post-visual-editor.editor-styles-wrapper a:visited {
    color: var(--gridd-links-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    transition: all 100ms ease-in-out; }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:active, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:hover,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:active,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:hover,
    .edit-post-visual-editor.editor-styles-wrapper a:active,
    .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:hover,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:active,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:hover {
      color: var(--gridd-links-hover-color);
      outline: thin dotted; }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:focus {
      outline: thin dashed; }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-caption,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-caption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption {
    margin-bottom: 1.5em;
    max-width: 100%;
    width: 100%;
    font-size: 0.85em;
    background-color: rgba(128, 128, 128, .1);
    padding-bottom: 0.5em;
    color: var(--gridd-text-color);
    font-size: calc(1em / var(--gridd-typo-scale)); }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-caption .wp-caption-text,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption .wp-caption-text,
    .edit-post-visual-editor.editor-styles-wrapper .wp-caption .wp-caption-text,
    .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption .wp-caption-text {
      margin: 0.8075em 0; }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption {
    padding: 1em; }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation {
    color: var(--gridd-text-color);
    font-size: calc(1em / var(--gridd-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left-color: var(--gridd-links-hover-color); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote {
    color: var(--gridd-text-color);
    border-top-color: var(--gridd-links-hover-color);
    border-bottom-color: var(--gridd-links-hover-color);
    border-left-color: var(--gridd-links-hover-color);
    border-right-color: var(--gridd-links-hover-color); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text {
    font-size: calc(var(--gridd-typo-scale) * 1em); }

.block-editor .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
  font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: var(--gridd-links-color); }

.wp-block {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridd-content-max-width); }

.editor-block-list__block[data-type="core/image"][data-align="center"] .wp-block-image, .editor-block-list__block[data-type="core/image"][data-align="center"][data-resized="false"] .wp-block-image > div {
  width: 100%; }

.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  max-width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right)); }
