.gridd-tp-header_branding.gridd-tp {
  background-color: var(--gridd-branding-bg);
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: var(--gridd-branding-padding);
  -ms-flex-pack: var(--gridd-branding-horizontal-align);
      justify-content: var(--gridd-branding-horizontal-align);
  -ms-flex-align: var(--gridd-branding-vertical-align);
      align-items: var(--gridd-branding-vertical-align); }
  .gridd-tp-header_branding.gridd-tp.inline .site-title {
    padding-left: var(--gridd-branding-elements-padding);
    padding-right: var(--gridd-branding-elements-padding); }
  .gridd-tp-header_branding.gridd-tp.vertical {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .gridd-tp-header_branding.gridd-tp.vertical > * {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-pack: var(--gridd-branding-horizontal-align);
          justify-content: var(--gridd-branding-horizontal-align); }
    .gridd-tp-header_branding.gridd-tp.vertical .site-title {
      padding-top: var(--gridd-branding-elements-padding);
      padding-bottom: var(--gridd-branding-elements-padding); }
  .gridd-tp-header_branding.gridd-tp .site-title,
  .gridd-tp-header_branding.gridd-tp .site-description {
    margin: 0; }
  .gridd-tp-header_branding.gridd-tp .site-title {
    line-height: 1; }
    .gridd-tp-header_branding.gridd-tp .site-title a {
      text-decoration: none; }
  .gridd-tp-header_branding.gridd-tp a:hover {
    outline: none; }
  .gridd-tp-header_branding.gridd-tp a:focus {
    background: transparent;
    outline: none; }
  .gridd-tp-header_branding.gridd-tp .custom-logo-link {
    max-width: var(--gridd-logo-max-width);
    line-height: 0;
    max-height: 100%;
    display: block; }
    .gridd-tp-header_branding.gridd-tp .custom-logo-link img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%; }
