.gridd-tp-header.gridd-tp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: visible;
  z-index: 1000;
  background-color: var(--gridd-header-bg);
  box-shadow: var(--gridd-header-box-shadow); }
  .gridd-tp-header.gridd-tp > .inner {
    width: 100%;
    max-width: var(--gridd-header-max-width);
    grid-gap: var(--gridd-header-grid-gap); }
