.gridd-tp-social_media.gridd-tp {
  background-color: var(--gridd-header-social-icons-bg);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: var(--gridd-header-social-icons-text-align);
      justify-content: var(--gridd-header-social-icons-text-align); }
  .gridd-tp-social_media.gridd-tp a {
    display: block;
    max-width: var(--gridd-header-social-icons-size);
    padding: var(--gridd-header-social-icons-padding);
    box-sizing: content-box;
    line-height: 1;
    color: var(--gridd-header-social-icons-color); }
  .gridd-tp-social_media.gridd-tp svg {
    fill: var(--gridd-header-social-icons-color);
    max-width: var(--gridd-header-social-icons-size); }
